; configuration for php MySQL module
; priority={{php_mysqli_extension_priority}}
extension={{php_mysqli_extension}}

; settings
mysqli.allow_local_infile={{php_mysqli_allow_local_infile}}
mysqli.allow_persistent={{php_mysqli_allow_local_infile}}
mysqli.max_persistent={{php_mysqli_max_persistent}}
mysqli.max_links={{php_mysqli_max_links}}
mysqli.trace_mode={{php_mysqli_trace_mode}}
mysqli.default_port={{php_mysqli_default_port}}
mysqli.default_socket={{php_mysqli_default_socket}}
mysqli.default_host={{php_mysqli_default_host}}
mysqli.default_user={{php_mysqli_default_user}}
mysqli.default_pw={{php_mysqli_default_pw}}
mysqli.reconnect={{php_mysqli_reconnect}}
mysqli.rollback_on_cache_plink={{php_mysqli_rollback_on_cache_plink}}
mysqli.cache_size={{php_mysqli_cache_size}}
