; configuration for php MySQL module
; priority={{php_mysql_extension_priority}}
extension={{php_mysql_extension}}

; settings
mysql.allow_local_infile={{php_mysql_allow_local_infile}}
mysql.allow_persistent={{php_mysql_allow_local_infile}}
mysql.max_persistent={{php_mysql_max_persistent}}
mysql.max_links={{php_mysql_max_links}}
mysql.trace_mode={{php_mysql_trace_mode}}
mysql.default_port={{php_mysql_default_port}}
mysql.default_socket={{php_mysql_default_socket}}
mysql.default_host={{php_mysql_default_host}}
mysql.default_user={{php_mysql_default_user}}
mysql.default_password={{php_mysql_default_password}}
mysql.connect_timeout={{php_mysql_connect_timeout}}
